node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
__pycache__
**/__pycache__
**/__pycache__/**
data_layer/scraping/data/**
.venv/**
**/terraform.tfvars
**/terraform.plan
**/.terraform/**
**/.terraform**
scraping.zip
terraform.plan
**.tfstate
**.tfstate.backup
**.zip